<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %}<link href="css/style.css" rel="stylesheet">{% endcomment %}
    </head>
    <body>
        <h3>Here are your all Albums</h3>
        {% if all_album %}    
            <ul>
                {% for album in all_album %}
                <li><a href="/music/{{album.id}}/">{{album.album_title}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>You don't have any albums</h3>
        {% endif %}
    </body>
</html>