<!DOCTYPE html>
<html lang="en" ng-app="myLanguage">
<head>
	<meta charset="UTF-8">
	<title>AngularJS | Hands On!</title>
	<script src="locals/angular.min.js"></script>
</head>
<body>
	<div ng-controller="language">
		Select your favourite Language :
		<button ng-click="php()">Php</button>
		<button ng-click="javascript()">Javascript</button>
		<button ng-click="cpp()">C++</button>
		<button ng-click="python()">Python</button>
		<p>Your Favourite Language is : {{ myFavLanguage }}</p>
	</div>
	<script src="locals/script.js"></script>
</body>
</html>
