{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ recipe.recipe_name }} | RecipeJaar</title>
</head>
<body>
    <img style="width:100%;height:400px" src="../{{ recipe.cover_image }}" alt="cover image of {{ recipe.recipe_name }}">
    <img style="width:200px;height:150px" src="../{{ recipe.recipe_thumb }}" alt="thumbnail image of {{ recipe.recipe_name }}">
    <h3>{{ recipe.recipe_name }}</h3>
    <ul>
        {% for ingre in ingredients %}
            <li>{{ ingre }}</li>
        {% endfor %}
    </ul>
    <p>Cooking Method : {{ recipe.cooking_method }}</p>
</body>
</html>