{% extends 'zigglee/base.html' %}
    {% load staticfiles %}
    {% block external_css %}
        <link rel="stylesheet" href="{% static 'zigglee/css/index.css' %}" media="screen" title="no title" charset="utf-8">
    {% endblock %}
    {% block body %}
        <header>
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="http://recipejaar.com/img/9-min.jpg" alt=""/>
                        <div class="caption center-align">
                            <h2>RecipeJaar</h2>
                            <h4 class="light grey-text text-lighten-3">A Jaar full of Surprises &amp; Happiness!</h4>
                        </div>
                    </li>
                    <li>
                        <img src="http://recipejaar.com/img/5-min.jpg" alt=""/>
                        <div class="caption left-align">
                            <h3>Left Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="http://recipejaar.com/img/8-min.jpg" alt=""/>
                        <div class="caption right-align">
                            <h3>Right Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="http://recipejaar.com/img/6-min.jpg" alt=""/>
                        <div class="caption left-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="most-viewed red darken-2">
            <h3 class="center satisfy heading">Most Viewed Recipes</h3>
            <div class="row container-most-viewed">
                {% for most in most_viewed %}
                    <div class="col s12 m12 l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ most.recipe_thumb.url }}">
                            <span class="card-title satisfy red darken-2">{{ most.recipe_name }}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ most.recipe_intro }}</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Read More</a>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="new-recipe">

        </section>
    {% endblock %}