{% extends 'zigglee/base.html' %}

{% load staticfiles %}

{% block external_css %}
    <link rel="stylesheet" href="{% static 'zigglee/css/allrecipe.css' %}" media="screen" title="no title" charset="utf-8">
{% endblock %}


{% block body %}
    <header>
        <div class="parallax-container valign-wrapper">
            <div class="container">
                <div class="row center">
                    <h2 class="header col s12 light satisfy parallax-image-title">Awesome Recipes</h2>
                </div>
                <div class="parallax"><img src="http://recipejaar.com/img/8-min.jpg" alt=""/></div>
            </div>
        </div>
    </header>

    <section class="all-recipe-block">
        <div class="row container-most-viewed extra-floor-space">
            <div class="col s12 m12 l4">
                <a href="/recipe/{{ recipe.id }}">
                    <div class="new-recipe-block">
                        <img src="http://recipejaar.com/img/9-min.jpg" style="width: 100%;height:100%" />
                        <div class="new-recipe-title satisfy">Khadhai Paneer</div>
                    </div>
                </a>
            </div>

            <div class="col s12 m12 l4">
                <a href="/recipe/{{ recipe.id }}">
                    <div class="new-recipe-block">
                        <img src="http://recipejaar.com/img/8-min.jpg" style="width: 100%;height:100%" />
                        <div class="new-recipe-title satisfy">Khadhai Paneer</div>
                    </div>
                </a>
            </div>

            <div class="col s12 m12 l4">
                <a href="/recipe/{{ recipe.id }}">
                    <div class="new-recipe-block">
                        <img src="http://recipejaar.com/img/6-min.jpg" style="width: 100%;height:100%" />
                        <div class="new-recipe-title satisfy">Khadhai Paneer</div>
                    </div>
                </a>
            </div>

            <div class="col s12 m12 l4">
                <a href="/recipe/{{ recipe.id }}">
                    <div class="new-recipe-block">
                        <img src="http://recipejaar.com/img/5-min.jpg" style="width: 100%;height:100%" />
                        <div class="new-recipe-title satisfy">Khadhai Paneer</div>
                    </div>
                </a>
            </div>

            <div class="col s12 m12 l4">
                <a href="/recipe/{{ recipe.id }}">
                    <div class="new-recipe-block">
                        <img src="http://recipejaar.com/img/6-min.jpg" style="width: 100%;height:100%" />
                        <div class="new-recipe-title satisfy">Khadhai Paneer</div>
                    </div>
                </a>
            </div>

            <div class="col s12 m12 l4">
                <a href="/recipe/{{ recipe.id }}">
                    <div class="new-recipe-block">
                        <img src="http://recipejaar.com/img/9-min.jpg" style="width: 100%;height:100%" />
                        <div class="new-recipe-title satisfy">Khadhai Paneer</div>
                    </div>
                </a>
            </div>

            <div class="col s12 m12 l4">
                <a href="/recipe/{{ recipe.id }}">
                    <div class="new-recipe-block">
                        <img src="http://recipejaar.com/img/9-min.jpg" style="width: 100%;height:100%" />
                        <div class="new-recipe-title satisfy">Khadhai Paneer</div>
                    </div>
                </a>
            </div>

            <div class="col s12 m12 l4">
                <a href="/recipe/{{ recipe.id }}">
                    <div class="new-recipe-block">
                        <img src="http://recipejaar.com/img/8-min.jpg" style="width: 100%;height:100%" />
                        <div class="new-recipe-title satisfy">Khadhai Paneer</div>
                    </div>
                </a>
            </div>

            <div class="col s12 m12 l4">
                <a href="/recipe/{{ recipe.id }}">
                    <div class="new-recipe-block">
                        <img src="http://recipejaar.com/img/6-min.jpg" style="width: 100%;height:100%" />
                        <div class="new-recipe-title satisfy">Khadhai Paneer</div>
                    </div>
                </a>
            </div>


        </div>

        <ul class="pagination center">
            <li class="disabled"><a href="#!"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        </ul>

    </section>


{% endblock %}


{#{% if all_recipes %}#}
{#    <h3>Here is the list of all your recipes!</h3>#}
{#    <ul>#}
{#        {% for recipe in all_recipes %}#}
{#            <li><a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_name }}</a></li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% else %}#}
{#    <p>You don't have any recipe in your database!</p>#}
{#{% endif %}#}